#FormView1 td, #FormView1 th, #HomePageCPH_btnsendquery1, #accordian2 .panel-body li, #freedomModal .modal-header#back-top a, #btnlogin, .backg1, .backg2, .bottom_content h3, .btn1, .btn1_, .btn2, .btn5, .course, .course-information .widget-heading h4, .course-information1 .widget-heading h4, .detailclass, .ghead, .glyp, .goog-te-gadget-simple .goog-te-menu-value span, .head2, .head4, .head4:hover, .head5, .head5:hover, .head6, .head6:hover, .head7, .headadmin, .heading h1, .heading h2, .heading h3, .heading h4, .heading h5, .instructor__categories, .instructor__name, .mb-05, .mb-06, .modal-title, .nav>li>a, .plan ul li, .plan-heading p, .promo h4, .read11, .single-course .description h4, .tag, .techread, .text-uppercase, .title-2, .ui-title-inner {
	text-transform: uppercase
}
.btn, .btn1, .btn11, .btn1_, .btn5 {
	white-space: nowrap
}
#Button1, .captcha {
	font-family: BankGothicMdBTMedium
}
#back-top a, #content a, .btn:focus, .btn:hover, social li a {
	text-decoration: none
}
@font-face {
	font-family: BankGothicMdBTMedium;
	src: url(./fonts/BankGothicMdBTMedium.eot);
	src: url(./fonts/BankGothicMdBTMedium.eot) format("embedded-opentype"), url(./fonts/BankGothicMdBTMedium.woff2) format("woff2"), url(./fonts/BankGothicMdBTMedium.woff) format("woff"), url(./fonts/BankGothicMdBTMedium.ttf) format("truetype"), url(./fonts/BankGothicMdBTMedium.svg#BankGothicMdBTMedium) format("svg")
}
#freedomModal .modal-header {
	border: none!important;
	margin-top: 14%;
	border-bottom: none;
	min-height: 16.43px;
	background: 0 0;
	color: none
}
#freedomModal .close {
	color: #fff!important;
	opacity: 12.2!important;
	width: 0!important;
	height: 0!important;
	font-size: 20px;
	margin-top: -18px
}
.bg-c1, .bg-c2, .bg-c3, .bg-c4, .bg-c5, .bg-c6, .bg-c7, .bg-c8, .bg-c9 {
	width: 350px;
	height: 260px
}
.bg-clinent1, .bg-clinent10, .bg-clinent11, .bg-clinent12, .bg-clinent13, .bg-clinent14, .bg-clinent15, .bg-clinent16, .bg-clinent17, .bg-clinent18, .bg-clinent19, .bg-clinent2, .bg-clinent20, .bg-clinent21, .bg-clinent22, .bg-clinent23, .bg-clinent24, .bg-clinent25, .bg-clinent26, .bg-clinent27, .bg-clinent28, .bg-clinent29, .bg-clinent3, .bg-clinent30, .bg-clinent31, .bg-clinent32, .bg-clinent33, .bg-clinent34, .bg-clinent35, .bg-clinent36, .bg-clinent37, .bg-clinent4, .bg-clinent5, .bg-clinent6, .bg-clinent7, .bg-clinent8, .bg-clinent9 {
	width: 196px;
	height: 77px
}
.bg-c1 {
	background: url(./images/Sunbright-Consultancy-awards_sprites.png) -10px -10px
}
.bg-c2 {
	background: url(./images/Sunbright-Consultancy-awards_sprites.png) -380px -10px
}
.bg-c3 {
	background: url(./images/awards_sprites.png) -10px -290px
}
.bg-c4 {
	background: url(./images/awards_sprites.png) -380px -290px
}
.bg-c5 {
	background: url(./images/awards_sprites.png) -750px -10px
}
.bg-c6 {
	background: url(./images/awards_sprites.png) -750px -290px
}
.bg-c7 {
	background: url(./images/awards_sprites.png) -10px -570px
}
.bg-c8 {
	background: url(./images/awards_sprites.png) -380px -570px
}
.bg-c9 {
	background: url(./images/awards_sprites.png) -750px -570px
}
.bg-clinent1 {
	background: url(./images/clients_sprites.png) -10px -107px
}
.bg-clinent2 {
	background: url(./images/clients_sprites.png) -658px -10px
}
.bg-clinent3 {
	background: url(./images/clients_sprites.png) -226px -10px
}
.bg-clinent4 {
	background: url(./images/clients_sprites.png) -226px -107px
}
.bg-clinent5 {
	background: url(./images/clients_sprites.png) -10px -204px
}
.bg-clinent6 {
	background: url(./images/clients_sprites.png) -226px -204px
}
.bg-clinent7 {
	background: url(./images/clients_sprites.png) -10px -301px
}
.bg-clinent8 {
	background: url(./images/clients_sprites.png) -226px -301px
}
.bg-clinent9 {
	background: url(./images/clients_sprites.png) -442px -10px
}
.bg-clinent10 {
	background: url(./images/clients_sprites.png) -442px -107px
}
.bg-clinent11 {
	background: url(./images/clients_sprites.png) -442px -204px
}
.bg-clinent12 {
	background: url(./images/clients_sprites.png) -442px -301px
}
.bg-clinent13 {
	background: url(./images/clients_sprites.png) -10px -398px
}
.bg-clinent14 {
	background: url(./images/clients_sprites.png) -226px -398px
}
.bg-clinent15 {
	background: url(./images/clients_sprites.png) -442px -398px
}
.bg-clinent16 {
	background: url(./images/clients_sprites.png) -10px -495px
}
.bg-clinent17 {
	background: url(./images/clients_sprites.png) -226px -495px
}
.bg-clinent18 {
	background: url(./images/clients_sprites.png) -442px -495px
}
.bg-clinent19 {
	background: url(./images/clients_sprites.png) -10px -10px
}
.bg-clinent20 {
	background: url(./images/clients_sprites.png) -658px -107px
}
.bg-clinent21 {
	background: url(./images/clients_sprites.png) -658px -204px
}
.bg-clinent22 {
	background: url(./images/clients_sprites.png) -658px -301px
}
.bg-clinent23 {
	background: url(./images/clients_sprites.png) -658px -398px
}
.bg-clinent24 {
	background: url(./images/clients_sprites.png) -658px -495px
}
.bg-clinent25 {
	background: url(./images/clients_sprites.png) -10px -592px
}
.bg-clinent26 {
	background: url(./images/clients_sprites.png) -226px -592px
}
.bg-clinent27 {
	background: url(./images/clients_sprites.png) -442px -592px
}
.bg-clinent28 {
	background: url(./images/clients_sprites.png) -658px -592px
}
.bg-clinent29 {
	background: url(./images/clients_sprites.png) -10px -689px
}
.bg-clinent30 {
	background: url(./images/clients_sprites.png) -226px -689px
}
.bg-clinent31 {
	background: url(./images/clients_sprites.png) -442px -689px
}
.bg-clinent32 {
	background: url(./images/clients_sprites.png) -658px -689px
}
.bg-clinent33 {
	background: url(./images/clients_sprites.png) -874px -10px
}
.bg-clinent34 {
	background: url(./images/clients_sprites.png) -874px -107px
}
.bg-clinent35 {
	background: url(./images/clients_sprites.png) -874px -204px
}
.bg-clinent36 {
	background: url(./images/clients_sprites.png) -874px -301px
}
.bg-clinent37 {
	background: url(./images/clients_sprites.png) -874px -398px
}
.bg-a11, .bg-a12, .bg-a13, .bg-a14, .bg-a15, .bg-a16, .bg-a17, .bg-a18 {
	width: 400px;
	height: 200px
}
.bg-a11 {
	background: url(./images/services_sprites.png) -10px -10px
}
.bg-a12 {
	background: url(./images/services_sprites.png) -430px -10px
}
.bg-a13 {
	background: url(./images/services_sprites.png) -10px -230px
}
.bg-a14 {
	background: url(./images/services_sprites.png) -430px -230px
}
.bg-a15 {
	background: url(./images/services_sprites.png) -10px -450px
}
.bg-a16 {
	background: url(./images/services_sprites.png) -430px -450px
}
.bg-a17 {
	background: url(./images/services_sprites.png) -850px -10px
}
.bg-a18 {
	background: url(./images/services_sprites.png) -850px -230px
}
.iconfa {
	height: 45px;
	width: 60px;
	color: #FFF;
	padding-top: 8px;
	display: block;
	margin-left: 61px;
	background: #185895;
	border: 2px solid #0078D7
}
.captcha {
	color: #185f7c;
	font-size: 25px;
	font-weight: 800;
	margin-right: 10px
}
.iconfa:hover, .techread {
	color: #fff
}
#Button1 {
	padding: 7px 40px;
	align-items: center;
	background: #185f7c!important;
	margin-bottom: -10px;
	border: 1px solid #185f7c
}
.techread {
	float: right;
	padding: 10px 20px;
	background: #185895
}
.h3classcourses:after, .scrollclass {
	background: #0078d7;
	position: absolute
}
.iconspanfa {
	color: #0078D7;
	font-size: 16px;
	font-weight: 400;
	line-height: 66px;
	padding-left: 7px;
	font-family: "Comic Sans MS"
}
.h3classcourses, .iconclass, .spancl {
	font-weight: 600
}
.iconspanfa:hover {
	color: #fff
}
.rowcl {
	overflow-y: scroll
}
.spancl {
	font-size: 14px;
	font-family: initial;
	padding-left: 10px
}
.h3classcourses, .liclass {
	font-size: 18px;
	color: #0078d7;
	text-align: left
}
.h3classcourses {
	font-family: inherit
}
.h3classcourses:after {
	top: 20px;
	content: "";
	height: 2px;
	left: 17px;
	width: 118px;
	z-index: 0
}
.liclass {
	font-stretch: inherit;
	font-weight: 400;
	list-style: none
}
.h4clas, .onlinereg, .pclass {
	font-weight: 600
}
.imgli {
	display: inline;
	width: 48%
}
.servis {
	font-size: 2em;
	color: #0078d7
}
.h4clas {
	color: #0078D7;
	text-align: left;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 18px;
	width: 250px;
	margin: -4px 0 0 19px
}
.pclass {
	color: #2A435A;
	font-size: 13px;
	text-align: left;
	margin-left: 20px;
	margin-top: 5px;
	font-family: g
}
.scrollclass {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	z-index: 900;
	top: 565px;
	left: 645px;
	right: 0;
	font-size: 20px;
	color: #fff;
	padding-left: 13px;
	padding-top: 9px;
	display: none
}
.caretdownclass, .caretdownclass1 {
	position: absolute;
	top: -54px;
	left: 0;
	right: 0;
	color: #0078d7;
	font-size: 250px;
	text-align: center
}
.boxd {
	width: 100%;
	height: 150px;
	position: relative;
	margin-top: -5px;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	background: url(.././images/Sunbright-Consultancy-adn_header_newsletter1.jpg) center center/cover rgba(0,0,0,0)
}
nav-tabs li a {
	background: #0078d7!important
}
.nav-tabs>li>a {
	color: #fff;
	background: #185895
}
!important
}
.onlinereg {
	width: 200px;
	background-color: #fff;
	color: #333;
	z-index: 9999999999999;
	top: 107px;
	right: 28px;
	position: fixed;
	padding: 10px 10px 10px 20px;
	border: 2px solid #0078d7;
	border-radius: 7px
}
.onlinereg:hover {
	background-color: rgba(0,0,0,.17)!important;
	color: #fff
}
.nav-list>li {
	border: 2px solid #428BCA;
	box-shadow: 0 5px 9px rgba(0,0,0,.5);
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 25px;
	border-radius: 10px
}
.nav-list {
	border-bottom: 0 solid #eee;
	border-top: 0 solid #eee
}
.detailclass {
	transform: translateZ(600px);
	position: fixed;
	width: 29%;
	margin: 485px 0 0;
	padding: 5px 10px 10px;
	font-size: 18px;
	bottom: 0;
	border-top: 1px solid #fff;
	border-top-right-radius: 14px;
	font-family: "Comic Sans MS";
	border-right: 1px solid #fff;
	z-index: 100
}
.navbar-nav>li>.dropdown-menu {
	margin-top: -7px!important;
	margin-bottom: 30px
}
.carousel-indicators {
	bottom: 60px
}
.bottom_content h3 {
	color: #fff;
	font-size: 2em;
	margin: 0 0 1em;
	text-align: left;
	padding-left: 69px
}
.circle-price, .plan-heading {
	padding: 10px
}
.plan.selected {
	background-color: #0078d7
}
.plan.selected:hover {
	background-color: #333;
	color: #0078d7
}
.plan {
	background-color: #f6f6f6;
	border-radius: 4px;
	margin-top: 25px;
	transition: .3s;
	cursor: default
}
.circle-price, .circle-price1 {
	width: 60px;
	height: 50px;
	border: 2px solid #0078d7;
	margin: -5px auto -3px -11px
}
.plan-heading p {
	color: #fff;
	text-align: center;
	font-size: 12px
}
.plan.selected .circle-price {
	color: #00c077;
	background-color: #fff
}
.circle-price, .circle-price1, .circle-price2 {
	background: #FFF;
	color: #333;
	text-align: center;
	display: block
}
.circle-price2 {
	padding: 5px;
	margin: -5px auto -3px 180px;
	border-radius: 50px;
	border: 4px solid #F0F0E9
}
.circle-price span {
	font-size: 28px
}
.plan ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.plan.selected ul li {
	border-color: #fff;
	color: #fff
}
.plan.selected ul li:hover {
	border-color: #0078d7
}
.plan ul li:first-child {
	border-top: 1px solid #ececec
}
.plan ul li {
	padding: 15px;
	color: #666;
	border-bottom: 1px solid #ececec;
	text-align: center
}
.btn:focus, .btn:hover, ul.nav_1 li a:hover {
	color: #fff
}
.nav>li>a {
	position: relative;
	display: block;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 12px
}
.navbar-nav>li>.dropdown>a:hover {
	background-color: transparent!important
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #2A435A!important;
	border-radius: 5px
}
.navbar-nav>li>a:active, .navbar-nav>li>a:hover {
	background-color: transparent!important
}
.btn-info {
	background: #185895
}
.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #0078d7;
	border-color: #0078d7
}
.liclasstab {
	margin-left: 493px
}
.anclass {
	font-size: 15px!important;
	font-weight: 600!important;
	font-family: "Comic Sans MS"
}
.h3cl, .h3client {
	font-family: inherit
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding: 7px
}
.lires {
	background: #fff!important;
	color: #333!important;
	border: 0 solid #fff!important
}
.logoicon {
	margin-top: -10px;
	color: #fff
}
.logoclass {
	margin-left: -35px;
	margin-top: -31px;
	height: 85px;
	background: #fff
}
.logoclass1 {
	margin-left: -22px;
	margin-top: -18px;
	width: 1166px
}
.icolclass {
	font-size: 40px
}
.navbar {
	border-radius: 0;
	z-index: 1000
}
.col-2back {
	background-color: #0078d7;
	min-height: 330px;
	margin-top: 5px
}
.h3client {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding-top: 24px
}
.h3cl {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 500;
	color: #fff
}
.promo-icon:hover {
	background-color: #333
}
.promo.right {
	text-align: right
}
.promo-icon {
	display: block;
	margin: 10px auto 0;
	background-color: #0078d7;
	color: #fff;
	text-align: center;
	width: 65px;
	height: 65px;
	line-height: 65px;
	border-radius: 50%;
	transition: .3s
}
.btn, .btn11 {
	margin-bottom: 15px
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 45%;
	z-index: 100
}
.camera_caption {
	display: block;
	color: #9fa9a9;
	font-weight: 300;
	text-align: center;
	font-size: 20px;
	line-height: 25px;
	background: 0 0;
	position: absolute;
	bottom: 18px
}
.btn, .btn11, .btn2 {
	cursor: pointer;
	font-weight: 400;
	vertical-align: middle
}
.btn {
	padding: 10px 25px;
	border: 1px solid transparent;
	margin-top: 15px;
	border-radius: 0
}
.btn11 {
	padding: 12px 25px;
	border: 1px solid transparent;
	margin-top: 24px;
	margin-left: -238px;
	border-radius: 10px;
	border-right: 2px solid #0078D7;
	border-top: 2px solid #0078D7;
	border-bottom: 2px solid #0078D7
}
.ser, .ser:hover {
	border: 2px solid #0078D7!important
}
.btn11:hover {
	background: #fff;
	color: #0078D7
}
.ser {
	background: #0C79C3;
	color: #fff;
	font-family: Georgia;
	box-shadow: 0 0 2em #0078D7 inset
}
.btn1, .btn2 {
	box-shadow: -5px -5px 0 #176C8F
}
.ser:hover {
	background: #fff;
	color: #0078D7
}
.btn2 {
	border: 1px solid transparent;
	font-size: 19px;
	padding: 5px 52px;
	font-family: BankGothicMdBTMedium
}
.camera_caption .bd-ra {
	height: 100px;
	width: 200px;
	text-align: center;
	font-family: FontAwesome;
	font-size: 30px;
	line-height: 60px;
	color: #423e3e;
	margin: 5px 4px 0 0;
	display: inline-block;
	border-radius: 4%!important;
	background: rgba(0,0,0,.31)
}
.spanclass {
	color: #fff;
	font-weight: 600
}
.para {
	font-size: 13px;
	line-height: 2px;
	font-weight: 700;
	color: #fff
}
.btn1, .btn1_ {
	padding: 10px 90px;
	font-weight: 400;
	border: 1px solid transparent;
	position: absolute;
	font-family: Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
	vertical-align: middle
}
.classzindexmenu {
	z-index: 9999999;
	height:85px
}
.marginbtm {
	margin-bottom: 60px
}
.bot {
	display: none
}
.btn1 {
	margin: -95px 0 0 370px
}
.btn1:hover {
	box-shadow: none
}
.btn1_ {
	margin: -59px 0 0 533px;
	box-shadow: -5px -5px 0 #176C8F
}
.pfont, .place {
	font-family: cursive;
	text-align: justify;
	color: #fff
}
.btn1_:hover {
	box-shadow: none
}
.pfont {
	font-size: 16px;
	height: 200px;
	padding: 10px 80px;
	margin-left: 40px
}
.pimg {
	width: 150px;
	height: 150px;
	margin-left: 180px;
	border: 4px solid #F0F0E9
}
.tul {
	margin-left: -270px!important;
	margin-top: -54px!important;
	margin-bottom: 30px!important
}
.place {
	font-size: 15px;
	padding: 10px 30px;
	margin-left: 100px;
	height: 250px;
	border: 8px solid #FFF;
	box-shadow: 1px 1px 3px rgba(0,0,0,.3);
	background: #1A4A72
}
.head4, .bar, .modal-title {
	font-family: BankGothicMdBTMedium
}
#top1 {
	background: #0078D7;
	color: #FFF;
	position: fixed;
	padding-bottom: 15px;
	margin-top: -105px;
	z-index: 9999;
	padding-right: 155px;
	width: 100%;
	padding-left: 50px
}
.bar {
	margin-bottom: 15px;
	text-shadow: 0 1px 4px #7d7d7d;
	color: #185f7c;
	font-size: 33px;
	font-weight: 600;
	text-align: center
}
.head2, .head4, .head7 {
	font-weight: 700;
	text-align: center
}
.modal-title {
	margin: 0;
	line-height: 1.42857;
	padding-left: 20px;
	font-size: 30px
}
.modal-body {
	position: relative;
	padding: 20px;
	margin-top: -10px
}
.head7 {
	padding: 10px;
	font-size: 15px
}
.contactus, .social {
	position: fixed;
	z-index: 9
}
.head2, .head4, .head4:hover, .head5 {
	padding: 10px
}
.img1 {
	height: 550px
}
.text1 {
	height: 450px;
	margin-top: 100px
}
.head2 {
	background: #185895;
	color: #fff;
	font-size: 25px;
	margin: 0 10px;
	box-shadow: -5px -5px 0 #176C8F;
	font-family: Georgia, "Times New Roman", Times, serif
}
.head4 {
	color: #185895;
	font-size: 16px;
	background: #fff;
	margin: 20px 0;
	font-family: franklin Gothic;
	letter-spacing: 2px
}
;
. {
font-family:"Comic Sans MS"
}
.head3 {
	padding: 0 30px;
	text-align: justify;
	margin-top: 10px;
	font-family: g;
	font-size: 15px
}
.course, .licol li a, .panel-body li a, .we3 {
	font-family: Open Sans, Arial, Helvetica, sans-serif
}
.bak1 {
	background: #CCC
}
.img1>img {
	box-shadow: 0 8px 15px -6px #000
}
.we {
	padding: 15px;
	text-align: center;
	background: #333;
	color: #fff
}
.we2, .we3 {
	text-align: left;
	background: #185895;
	margin-top: 10px;
	box-shadow: -5px -5px 0 #176C8F;
	font-weight: 600
}
.we3 {
	width: 200px;
	padding-left: 10px;
	padding-top: 9px;
	padding-bottom: 0;
	color: #FFF;
	font-size: 12px;
	border-bottom: medium none #666;
	margin-bottom: 14px
}
.we2 {
	width: 210px;
	padding: 15px 0 15px 10px;
	color: #fff;
	font-size: 11px;
	border-bottom: #666;
	margin-bottom: 15px;
	letter-spacing: .5px
}
.we2:hover, .we3:hover {
	box-shadow: none
}
.shed {
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
	padding: 20px;
	margin-left: 20px;
	font-size: 17px
}
.shed:hover {
	box-shadow: none
}
.span1, .style2>img {
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.limobileclass .nav-tabs {
	display: inline-block;
	border-bottom: medium none;
	font-weight: 700;
	padding-top: 15px;
	padding-right: 25px;
	margin-top: -20px
}
.course, .licol li a, .panel-body li a {
	font-weight: 600
}
.intext {
	margin-bottom: 25px;
	width: 300px
}
.section {
	padding: 5px;
	margin: -2px 0 -5px
}
.section2 {
	padding: 5px;
	margin: 0 0 -5px
}
.section1 {
	margin: 105px 0 0;
	padding: 5px
}
#accordian2 .panel-body li {
	background-image: url(.././images/Sunbright-Consultancy-sid.png);
	margin-bottom: 5px;
	margin-left: -43px;
	padding: 7px 20px
}
.panel-body li a {
	color: #fff;
	font-size: 12px
}
.licol li a {
	color: #185895;
	font-size: 12px
}
.panel-body li a:hover {
	padding: 5px 15px;
	color: #fff;
	font-size: 12px
}
.course {
	float: right;
	border: 1px solid #185895;
	padding: 5px 11px;
	margin-top: -37px;
	color: #185895;
	margin-right: 17px;
	font-size: 14px
}
#content .info li, #content .info p {
	font-family: Georgia, "Times New Roman", Times, serif
}
.social {
	margin-top: 95px;
	margin-left: -38px
}
social ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1
}
social li {
	margin-bottom: 3px
}
social li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px
}
social li a:hover {
	background-color: #555;
	color: #fff
}
.contactus {
	margin-top: 131px;
	float: left;
	right: 0
}
.foot {
	background: url(.././images/Sunbright-Consultancy-bg_footer.png) no-repeat #222;
	z-index: 10;
	position: relative
}
.carousel-indicators li {
	background: silver
}
.carousel-indicators .active {
	background: #333
}
.gap {
	margin-top: -10px
}
.gap1 {
	margin-top: -40px
}
#product-post {
	margin-top: 135px
}
.message-form input, .message-form textarea {
	width: 100%;
	color: #AAA;
	font-style: italic;
	margin-top: 25px;
	padding: 10px;
	border: 1px solid #185895;
	font-size: 13px
}
.message-form input {
	font-weight: 300;
	outline: 0
}
.message-form textarea {
	height: 165px;
	max-height: 180px;
	max-width: 860px;
	line-height: 18px;
	margin-bottom: 20px
}
#content .info p {
	margin: -10px 0 0;
	padding: 10px 10px 10px 20px
}
#content .info ul {
	margin: -20px 0 0;
	padding: 10px 10px 10px 20px
}
#content .info li {
	list-style: none;
	margin: 10px 0;
	font-size: 13px;
	color: #717171;
	font-weight: 600
}
.send {
	margin-top: -25px;
	margin-left: 470px;
	color: #185895;
	padding-right: 0
}
#content .info i {
	color: #f78e21;
	margin-right: 10px;
	font-size: 18px
}
#content a {
	color: #fff;
	font-weight: 600
}
#content {
	margin-top: 25px
}
.heading h1, .heading h2, .heading h3, .heading h4, .heading h5 {
	display: inline-block;
	border-bottom: solid 3px #185895;
	line-height: 1.1;
	margin-bottom: 0;
	padding-bottom: 10px;
	vertical-align: middle;
	letter-spacing: .06em;
	font-size: 21px
}
.btn5, .btn5:hover {
	border: 1px solid #185895
}
.h3, h3 {
	margin-top: 20px;
	margin-bottom: 10px
}
.lead {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	margin-top: 10px
}
form .row {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 13px
}
.btn5 {
	padding: 7px 25px;
	font-weight: 600;
	vertical-align: middle;
	cursor: pointer;
	background: #FFF;
	color: #185895;
	margin-top: 5px;
	margin-bottom: 15px;
	line-height: 1.42857;
	margin-left: 2px;
	float: left;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-size: 14px
}
.btn5:hover, .span1 {
	background: #185895
}
.btn5:hover {
	color: #fff
}
.span1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom: 2px solid #0078D7;
	border-top: 2px solid #0078D7;
	color: #FFF;
	margin-top: 20px;
	padding: 10px 0;
	border-radius: 8px;
	margin-bottom: 0;
	font-size: 15px;
	letter-spacing: .8px
}
.span2 {
	background-color: #fff!important;
	color: #333;
	border: 2px solid #eee!important;
	font-family: Georgia;
	width: 800px;
	margin-left: 20px
}
.backg1, .backg2, .checkbox label, .course-information .radio label, .course-information ul li, .course-information ul li span, label {
	font-family: Georgia, "Times New Roman", Times, serif
}
#content p {
	margin-bottom: 10px;
	padding: 20px;
	color: #fff
}
.backg1, .backg2, .mb-05, .mb-06 {
	padding: 16px 44px 16px 18px;
	font-weight: 600;
	text-align: center
}
.mb-30 {
	margin-bottom: 30px
}
.mb-05, .mb-06 {
	margin-bottom: 5px;
	font-size: 19px
}
.mb-05 {
	background: #fff
}
.backg, .backg3, .mb-06 {
	background: #2A435A
}
.error {
	color: #bc0000
}
.backg3 {
	position: fixed;
	z-index: 999;
	margin-top: -400px;
	float: left;
	margin-left: 790px
}
.why-choose-us .why-choose-us-wrapper-top, .widget {
	position: relative
}
.left-sidebar .error {
	color: #f30;
	font-size: 11px
}
.backg1, .backg2 {
	background: #fff;
	margin-top: 5px;
	font-size: 19px
}
.backg1 {
	color: red;
	border-bottom: 1px solid #ddd
}
.backg2 {
	color: #333
}
.course-information, .mb-100 {
	margin-bottom: 200px
}
.course-information {
	border-color: #E84C3D #DDD #DDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-width: 3px 1px 1px
}
.course-information:hover {
	border-width: 3px;
	border-color: #AC33C5 #333 #92D438 #F6C640
}
.checkbox label, .course-information .radio label, label {
	font-weight: 300;
	vertical-align: middle;
	letter-spacing: 1px;
	font-size: 13px;
	color: #A8A8A8
}
.title-2, .ui-title-inner {
	font-weight: 700
}
.course-information .widget-heading h4 {
	margin-top: 0;
	padding-left: 15px;
	font-size: 16px;
	color: #6B6B6B;
	letter-spacing: .2px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-left: 3px solid #f5a425
}
.course-information ul {
	padding: 0;
	margin: 0;
	list-style: none
}
.course-information ul li {
	text-align: left;
	display: block;
	font-size: 14px;
	color: #6B6B6B;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 15px
}
.course-information ul li span {
	float: right;
	font-size: 14px;
	color: #a8a8a8;
	display: inline-block
}
.course-information .img-responsive {
	width: 830px;
	margin-bottom: 15px
}
.widget_social {
	border-top-color: #F6C640
}
.widget_instructor {
	border-top-color: #E84C3D;
	overflow: hidden
}
.widget-default {
	margin-bottom: 30px;
	padding: 32px;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: #E84C3D #EEE #EEE;
	margin-top: 30px
}
.widget-title {
	margin-top: 3px
}
.ui-title-inner {
	font-family: Montserrat, arial, arial;
	font-size: 14px;
	line-height: 1.6;
	color: #222
}
.widget_social__wrap {
	margin-top: 33px
}
.instructor__img {
	float: left;
	width: 65px;
	height: 65px;
	margin-top: 12px;
	margin-left: 80px
}
.instructor__inner {
	margin-top: 72px;
	text-align: center;
	float: left;
	margin-left: -110px
}
.instructor__name {
	font-family: Montserrat;
	font-size: 15px;
	color: #333
}
.instructor__categories {
	font-family: "Open Sans";
	font-size: 11px;
	color: #3A99D7
}
.instructor_circle {
	border: 2px solid #EEE;
	display: block;
	text-align: center;
	margin: -5px auto -3px -11px;
	background: #FFF;
	color: #333;
	border-radius: 50%
}
.why-choose-us {
	background: #2A435A;
	color: #fff
}
.why-choose-us .why-choose-us-wrapper-top .why-choose-us-wrapper {
	padding: 25px 27% 95px 0;
	font-family: Open Sans, Arial, Helvetica, sans-serif
}
.why-choose-us .why-choose-us-wrapper {
	text-align: left;
	width: 100%
}
.title-2 {
	font-size: 30px;
	margin: 0 0 25px
}
wrapper-top .why-choose-us-wrapper p {
	color: #d1d8eb;
	line-height: 25px;
	margin-bottom: 30px;
	font-size: 16px
}
.why {
	width: 100%;
	margin-left: -1px;
	margin-bottom: -6px
}
.why-choose-us .why-choose-us-wrapper-top .background-girl-1 {
	position: absolute;
	width: 23%;
	left: 75%;
	bottom: 0
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}
.whyp {
	color: #d1d8eb;
	line-height: 25px;
	font-size: 14px
}
.course-information1 {
	padding: 30px 35px;
	margin-top: 15px;
	border-style: solid;
	border-color: #DDD;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-width: 1px;
	background: #2A435A;
	color: #fff
}
.checkbox label, .course-information1 .radio label, label {
	font-weight: 300;
	vertical-align: middle;
	letter-spacing: 1px;
	font-size: 13px;
	color: #A8A8A8;
	font-family: Georgia, "Times New Roman", Times, serif
}
.course-information1 .widget-heading h4 {
	margin-top: 0;
	padding-left: 15px;
	font-size: 16px;
	color: #6B6B6B;
	letter-spacing: .2px;
	padding-top: 7px;
	padding-bottom: 7px;
	border-left: 3px solid #f5a425
}
.course-information1 ul li, .course-information1 ul li span {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px
}
.course-information1 ul {
	padding: 0;
	margin: 0;
	list-style: none
}
.course-information1 ul li {
	text-align: left;
	display: block;
	color: #6B6B6B;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 15px
}
.course-information1 ul li span {
	float: right;
	color: #a8a8a8;
	display: inline-block
}
.course-information1 .img-responsive {
	width: 830px;
	margin-bottom: 15px
}
.course-information2 {
	padding: 20px;
	background: #2A435A;
	width: 377px;
	float: left;
	margin-right: 3px;
	margin-left: 5px;
	color: #FFF;
	border-bottom: 20px solid #fff
}
.checkbox label, .course-information2 .radio label, label {
	vertical-align: middle;
	letter-spacing: 1px;
	font-size: 13px;
	color: #fff;
	font-family: Open Sans, Arial, Helvetica, sans-serif;
	font-weight: 600;
	position: absolute!important;
	margin: 42px 0 0 -309px!important
}
.course-information2 ul {
	padding: 1px 20px;
	margin: 0;
	list-style: none
}
.course-information2 ul li {
	text-align: left;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #fff;
	padding-bottom: 15px;
	border-bottom: 1px solid #e6e6e6;
	margin-top: 15px
}
.course-information2 p {
	font-weight: 600;
	padding: 1px 20px;
	font-size: 13px;
	letter-spacing: .8px;
	font-family: Open Sans, Arial, Helvetica, sans-serif
}
.course-information2 ul li span {
	float: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #a8a8a8;
	display: inline-block
}
.single-course .description h4 {
	font-size: 13px;
	letter-spacing: .5px;
	margin-bottom: 20px;
	margin-top: 20px
}
.description {
	margin-bottom: 20px
}
.course-information2 .img-responsive {
	width: 830px;
	margin-bottom: 15px
}
.course-information2 strong {
	color: #185895;
	font-weight: 600;
	font-size: 15px
}
.headtop {
	margin-top: 50px;
	background: #F27C66
}
.headtop .widget-heading h4 {
	margin-top: 0;
	padding-left: 15px;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFF;
	letter-spacing: .2px;
	padding-top: 17px;
	padding-bottom: 0;
	font-weight: 600;
	margin-left: 80px;
	font-family: Arial, Helvetica, sans-serif
}
.map1, .map2 {
	width: 19%;
	padding: 15px;
	height: 250px
}
.bnt {
	border-top: 1px solid #333;
	background: #fff
}
.header_bottom .navigation {
	float: right;
	margin-top: -1.4em;
	visibility: hidden
}
.ml_100 {
	margin-right: 70px;
	margin-left: 10px
}
.ml_150 {
	margin-left: 150px
}
.container .box {
	margin: 25px 0 0 855px;
	float: left;
	position: fixed;
	z-index: 9;
	-webkit-animation-name: hideit;
	-webkit-animation-duration: 50s;
	-webkit-animation-timing-function: ease-in;
	-webkit-animation-delay: 0;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards
}
@-webkit-keyframes hideit {
100% {
opacity:0
}
}
.map1 {
	margin-left: 25px
}
address span {
	color: #333;
	font-size: 14px
}
address strong, address1 strong {
	font-weight: 600;
	color: #185895;
	font-size: 16px
}
address1 span {
	font-size: 14px
}
a.scrollUp {
	bottom: 0;
	right: 10px;
	padding: 5px 10px;
	background: #185895;
	color: #FFF;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite
}
.accordion-header1, .tag {
	background: #2A435A;
	color: #fff
}
address ul, address1 ul, ol {
	margin: 0 0 20px
}
.tag {
	width: 350px;
	align-content: center;
	padding: 4px 10px;
	font-size: 15px;
	margin-left: 475px;
	margin-top: 10px;
	font-weight: 600;
	font-family: Open Sans, Arial, Helvetica, sans-serif
}
.accordion-header1, .read11 {
	padding: 10px 20px
}
.read11 {
	background: #fff;
	color: #333;
	font-size: 12px;
	bottom: 10px;
	margin: 26px 0 0 790px;
	font-weight: 600
}
.style2>img {
	height: 85px;
	width: 85px;
	border: 2px solid #428BCA
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
	padding-right: 12px;
	background: #185895;
	border-radius: 10px
}
.gsib_a {
	width: 100%;
	padding: 1px 6px 0!important
}
input.gsc-input {
	font-size: 13px;
	padding: 4px 9px;
	border: 1px solid #D9D9D9;
	width: 99%
}
input.gsc-search-button, input.gsc-search-button:focus, input.gsc-search-button:hover {
	border-color: #666;
	background-color: #185895!important;
	background-image: none;
	filter: none;
	padding: 19px 32px!important;
	margin-left: -40px!important;
	border-radius: 13px!important
}
.gsc-input-box {
	border: 1px solid #D9D9D9;
	background: #fff;
	height: 36px!important
}
.lang {
	margin-top: 3px;
	padding: 9px 15px;
	background: #fff;
	border-radius: 25px
}
.goog-te-gadget-simple .goog-te-menu-value span {
	text-decoration: none;
	font-size: 14px;
	font-weight: 700
}
.goog-te-gadget-simple {
	background-color: #fff;
	border-left: none!important;
	border-top: none!important;
	border-bottom: none!important;
	border-right: none!important;
	font-size: 10pt;
	display: inline-block;
	padding-top: 1px;
	padding-bottom: 2px;
	cursor: pointer;
	zoom: 1
}
.goog-te-gadget img {
	vertical-align: middle;
	border: none;
	visibility: hidden!important
}
.gsc-selected-option-container {
	background-color: transparent;
	border: 1px solid #eee;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	box-shadow: 0 1px 1px #eee;
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	color: #444;
	cursor: default;
	font-size: 11px;
	font-weight: 700;
	height: 27px;
	line-height: 27px;
	max-width: 90%;
	min-width: 75px!important;
	outline: 0;
	padding: 0 28px 0 6px;
	position: relative;
	text-align: center;
	width: 50px!important
}
.bor, .facts, .gallery-grid img, .ghead, .jobimg, .loginmodal, .testimg1, .testimg2 {
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.goog-te-gadget-icon {
	margin-left: 0!important;
	margin-right: 0!important;
	width: 0!important;
	height: 0!important;
	border: none;
	vertical-align: middle
}
.goog-te-gadget-simple .goog-te-menu-value span:hover {
	color: #0078D7!important
}
.serch {
	float: left;
	margin-top: 36px;
	color: #f1f1f1;
	margin-left: 843px;
	position: absolute
}
form.gsc-search-box {
	font-size: 13px;
	width: 100%;
	margin: 0 0 4px -40px!important
}
input.gsc-search-button, input.gsc-search-button:focus, input.gsc-search-button:hover {
	border-top: 2px solid #185895!important;
	border-bottom: 2px solid #185895!important;
	background: #185895;
	filter: none;
	border-right: 2px solid #185895!important
}
#FormView2 th, .back1, .ghead {
	background: #2A435A;
	color: #fff
}
.bor, .gallery-grid img {
	border: 3px solid #185895
}
.gallery {
	margin-top: 25px
}
.gallery-grid {
	margin-bottom: 20px
}
.gallery-grid img {
	width: 100%
}
.ghead {
	padding: 10px;
	text-align: center
}
#back-top {
	position: fixed;
	bottom: 43px;
	margin-left: 1180px
}
#back-top a {
	width: 40px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	color: #bbb;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s
}
#back-top a:hover {
	color: #185895
}
#back-top span {
	width: 40px;
	height: 40px;
	display: block;
	margin-bottom: 22px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
	bottom: 0;
	right: 10px;
	padding: 5px 10px;
	background: #185895;
	color: #FFF;
	-webkit-animation: bounce 2s ease infinite;
	animation: bounce 2s ease infinite
}
#FormView1 td, #FormView2 td {
	color: #333
}
#back-top a:hover span {
	background-color: #FE980F
}
#back-top .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	font-size: 30px
}
.mega-dropdown:hover .my, .mega-dropdown:hover .my1, .mega-dropdown:hover .my2, .mega-dropdown:hover .my3, .mega-dropdown:hover .my4, .mega-dropdown:hover .my5, .mega-dropdown:hover .my6 {
	display: block!important
}
#FormView1 td, #FormView2 td, .batch1 td, .style44, .style44>span, .ttag {
	font-weight: 600
}
#FormView1 td, #FormView1 th {
	padding: 5px 20px;
	font-size: 11px;
	border: 1px solid #185895;
	width: 100%
}
#FormView2 td, #FormView2 th {
	text-align: left;
	border: 1px solid #333
}
#map_wrapper {
	height: 400px
}
#map_canvas {
	width: 100%;
	height: 100%
}
.style6>span, .ttag {
	font-size: 14px
}
.tableclass {
	width: 100%;
	color: #333
}
.style4>span {
	color: #f30;
	float: left;
	margin-left: -290px;
	margin-top: 0
}
.batch1 td {
	width: 250px;
	color: #333
}
.batch1 tr {
	background: #185895;
	color: #fff!important
}
#DynamicPageContentCPH_ckcetpa label {
	color: #333;
	margin-left: 15px
}
.panel-body input {
	border: 1px solid #0078d7!important;
	padding-left: 10px;
	font-family: justify
}
.style44 {
	color: #333
}
.panel-body select, textarea {
	border: 1px solid #0078d7
}
#ContentPlaceHolder1_UpdatePanel1 table {
	color: #333;
	border: 1px solid #333
}
.ttag {
	color: #333
}
.vbutton {
	margin-left: -650px;
	font-weight: 700
}
.vtextinput {
	height: 30px;
	width: 200px;
	margin-right: 650px
}
.glyp {
	color: #fff;
	padding: 16px 16px 8px;
	font-size: 20px;
	font-family: BankGothicMdBTMedium
}
#txtPassword, #txtUserName {
	width: 185px;
	margin-bottom: 20px;
	padding: 7px;
	font-family: BankGothicMdBTMedium
}
#txtUserName {
	margin-left: 36px;
	margin-top: 20px
}
#txtPassword {
	margin-left: 43px
}
#btnlogin {
	padding: 6px 37px;
	font-size: 14px;
	font-family: BankGothicMdBTMedium;
	font-weight: 400;
	margin-top: 20px
}
.jobimg {
	height: 85px;
	width: 175px;
	margin: 27px 0 -115px 610px
}
.testimg1 {
	height: 95px;
	width: 85px;
	border: 2px solid #428BCA
}
.tableth {
	font-weight: 600;
	font-size: 13px;
	color: #333
}
.lalcss, .logintext {
	color: #fff;
	font-weight: 400
}
.lalcss {
	background: #2A435A;
	padding: 10px;
	float: left;
	width: 100%
}
.loginmodal, .tableadmin {
	background-color: transparent
}
.tableth table td {
	width: 175px
}
.tableth table th {
	text-align: justify;
	width: 430px
}
.loginmodal {
	margin-top: 0
}
.logintext {
	font-family: BankGothicMdBTMedium;
	letter-spacing: 1px;
	font-size: 17px
}
.section3 {
	padding: 5px;
	margin: 7px 0 0 233px
}
.tableadmin {
	font-weight: 600;
	height: 435px;
	width: 75%
}
#btnUpdate {
	margin-left: 0
}
#btnInsert {
	margin-left: 100px
}
.admintext {
	height: 30px;
	width: 250px;
	color: #333;
	padding-left: 10px
}
.headadmin {
	width: 75%;
	padding: 13px 20px;
	font-size: 30px;
	font-weight: 400;
	font-family: BankGothicMdBTMedium;
	color: #a3a3a3
}
#DynamicBckendCPH_lblContact, #DynamicBckendCPH_lblEmail, #DynamicBckendCPH_lblName, #DynamicBckendCPH_lblsub, #DynamicBckendCPH_lbluploadimg {
	font-family: BankGothicMdBTMedium;
	font-weight: 400;
	margin-bottom: 23px;
	font-size: 20px;
	color: #a3a3a3
}
.logoadmin {
	width: 175px;
	margin-bottom: -37px;
	margin-left: -85px
}
.facts, .facts i {
	margin-bottom: 20px
}
#imgUpload {
	font-size: 13px
}
#DynamicBckendCPH_Label1, #DynamicBckendCPH_Label2, #DynamicBckendCPH_Label3, #DynamicBckendCPH_Label4, #DynamicBckendCPH_btnInsert1, #DynamicBckendCPH_btninsert {
	font-family: BankGothicMdBTMedium;
	font-weight: 400;
	margin-bottom: 23px;
	font-size: 20px;
	color: #a3a3a3
}
.tableth1 table {
	margin-top: -100px;
	width: 90%;
	margin-left: 100px
}
#DynamicBckendCPH_btnInsert1, #DynamicBckendCPH_btninsert {
	padding: 5px 40px
}
#DynamicBckendCPH_Linkbtnreset {
	color: #a3a3a3;
	padding: 7px 40px;
	-webkit-appearance: button;
	cursor: pointer;
	font: inherit;
	margin: 0;
	font-size: 20px
}
#DynamicBckendCPH_Label5, #DynamicBckendCPH_btninsertplced, #DynamicBckendCPH_ddlTechnology, #DynamicBckendCPH_imgUpload, #DynamicBckendCPH_studentimage, #Label1, .adminclick, .facts p {
	font-family: BankGothicMdBTMedium
}
#DynamicBckendCPH_Linkbtnreset:hover, #DynamicBckendCPH_btninsert:hover {
	background: #23aeac;
	color: #fff
}
#DynamicBckendCPH_btnInsert1:hover {
	background: #23aeac;
	color: #333
}
#DynamicBckendCPH_txtsaddress, #DynamicBckendCPH_txtsexperience {
	width: 305px;
	margin-right: -20px;
	color: #232e34;
	font-weight: 100;
	border: 1px solid #e2e2e2;
	height: 65px
}
#DynamicBckendCPH_studentimage {
	font-size: 13px;
	width: 280px
}
#DynamicBckendCPH_txtEmail, #DynamicBckendCPH_txtName {
	width: 300px;
	height: 65px;
	color: #232e34;
	font-weight: 100;
	border: 1px solid #e2e2e2!important
}
#DynamicBckendCPH_txtContact, #DynamicBckendCPH_txtSub {
	width: 300px;
	height: 65px;
	color: #333;
	font-weight: 100;
	border: 1px solid #e2e2e2!important
}
.facts i, .facts p {
	color: #fff
}
#DynamicBckendCPH_btnUpdate {
	margin-left: -100px
}
#DynamicBckendCPH_btnDelete {
	margin-left: -220px
}
#DynamicBckendCPH_imgUpload {
	font-size: 14px;
	margin-bottom: 25px
}
.services {
	text-align: center;
	padding: 15px;
	-webkir-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s
}
.facts-overlay {
	padding: 40px;
	background-color: #232e34
}
.facts p.count {
	font-size: 23px
}
.adminclick {
	border: 1px solid #fff;
	padding: 5px 20px
}
.adminclick:hover {
	background: #fff;
	color: #333!important
}
#Label1 {
	font-size: 17px;
	margin-left: 15px
}
#DynamicBckendCPH_Label5, #DynamicBckendCPH_btninsertplced {
	font-size: 20px;
	color: #a3a3a3;
	margin-bottom: 23px
}
#DynamicBckendCPH_Label5 {
	font-weight: 400
}
#DynamicBckendCPH_txtcompany, #DynamicBckendCPH_txtemail, #DynamicBckendCPH_txttechno {
	width: 305px;
	margin-right: -20px;
	color: #232e34;
	font-weight: 100;
	border: 1px solid #e2e2e2;
	height: 65px
}
#DynamicBckendCPH_btninsertplced {
	font-weight: 400;
	padding: 5px 40px
}
#DynamicBckendCPH_btninsertplced:hover {
	background: #23aeac;
	color: #fff
}
.testimg2 {
	height: 110px;
	width: 100px;
	border: 2px solid #428BCA
}
.tableth2 table {
	margin-top: -100px;
	width: 90%;
	margin-left: 195px
}
address table th {
	color: #333
}
#DynamicBckendCPH_ddlTechnology {
	margin-bottom: 20px;
	font-size: 13px;
	width: 230px;
	border: 2px solid #ddd!important;
	border-radius: 10px;
	padding: 8px 0 13px 10px
}
#DynamicBckendCPH_txtsearch {
	height: 38px;
	border: 2px solid #ddd;
	padding: 16px 0 20px 10px;
	border-radius: 10px;
	margin: 0 17px 0 95px
}
#DynamicBckendCPH_btnsearch {
	padding: 5px 16px 9px
}
.adminimg {
	margin-top: -57px;
	float: right;
	margin-right: -90px;
	width: 60px;
	height: 60px;
	border-radius: 15px
}
.my, .my1, .my2, .my3, .my4, .my5, .my6 {
	margin-top: -1px!important
}
#DynamicBckendCPH_txtmail, #DynamicBckendCPH_txtname, #DynamicBckendCPH_txtpsd, #DynamicBckendCPH_txtsname {
	width: 305px;
	margin-right: -20px;
	color: #232e34;
	font-weight: 100;
	border: 1px solid #e2e2e2;
	height: 65px
}
#DynamicBckendCPH_btnsingup, #DynamicBckendCPH_lblmail, #DynamicBckendCPH_lblpsd {
	font-family: BankGothicMdBTMedium;
	font-weight: 400;
	font-size: 20px;
	color: #a3a3a3
}
#DynamicBckendCPH_lblmail, #DynamicBckendCPH_lblpsd {
	margin-bottom: 23px
}
.courseimg {
	width: 100px;
	height: 50px
}
.socialicon {
	width: 40px;
	height: 40px;
	margin-bottom: 3px
}
#DynamicBckendCPH_btnsingup {
	margin-bottom: 23px;
	padding: 5px 40px
}
.p_75 {
	padding-left: 75px
}
#HomePageCPH_btnsendquery1 {
	color: #fff;
	background: #185895;
	padding: 5px 30px;
	font-size: 18px
}
.hidediv {
	display: none
}
#studentTable a.view_btn {
	color: #fff;
	background: #595959;
	border-bottom: 1px solid #424242;
	padding: 7px 16px 5px
}
#studentTable .reg_btn {
	background: #ffd44f;
	border: none;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
	color: #4e4e4d;
	font-size: 12px;
	outline: 0;
	padding: 6px 16px 5px
}
